# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib


# Executables
*.exe
*.out
*.app
challenge_1
challenge_2
challenge_3
challenge_4
challenge_5
challenge_6
challenge_7
challenge_8
challenge_9
challenge_10
challenge_10
challenge_11
challenge_12
challenge_13
challenge_14
challenge_15
challenge_16
challenge_17
challenge_18
challenge_19
challenge_20
challenge_21
challenge_22
challenge_23
challenge_24
challenge_25
challenge_26
challenge_27
challenge_28
challenge_29
challenge_30
challenge_31
challenge_32

# CMake Files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Python Files
*.pyc

# Crypto++ Library
cryptopp/
